{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div >
        {{ form_widget(form,  {'attr': {'class': 'form-group'}} ) }}
        
        {{ form_errors(form,{'attr':{'class':'text-danger'}}) }}
        
    </div>
     <button  >  {{ button_label|default('Réserver') }}  </button>
    <br> <br> 
    Consulter  <a href="{{ path('consulter') }}"> {{ button_label|default('mes réservations ') }}  </a> 
    
{{ form_end(form) }}

