{% extends 'base.html.twig' %}
{% block body %}
<div class="body-form" >
    

        <div id="div_chart"></div>
       
           
                {% if piechart is defined %}
                    <script type="text/javascript" src="{{ asset('https://www.gstatic.com/charts/loader.js') }}"></script>
                    <script type="text/javascript">
                        
                    {{ gc_draw(piechart, 'div_chart') }}

            
        </script>
        {% endif %}

        <div class="stats">
 {% for dest in dest %}
            <tr>
             
             Nbre_d <input type="text " value="{{ dest.Destnbr }}" disabled >
             Meilleur Destination <input type="text " value="{{ dest.BestDestination }}" disabled >
                 
            </tr>
        {% endfor %}

        {% for heb in heb %}
            <tr>
             
             Nbre_h <input type="text " value="{{ heb.nbrh }}" disabled >
             Meilleur Hebergement  <input type="text " value="{{ heb.BestHebergement }}" disabled >
                 
            </tr>
        {% endfor %}
   
</div>

        
</div>


       

                
{% endblock %}
   