{% extends 'front.html.twig' %}

{% block title %}Liste Cours de Guide {% endblock %}

{% block body %}

 <div class="move-text">
		
		<script type="text/javascript" src="front/js/jquery.marquee.min.js"></script>
        <script>
		  $('.marquee').marquee({ pauseOnHover: true });
		  //@ sourceURL=pen.js
		</script>
		 <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
	</div>
	<div class="banner-bottom">
		<div class="container">
			<div class="banner-bottom-info">
				<h3>Liste des Exercices</h3>
			</div>
			<div class="banner-top-info" style="text-align:right;font-family:'FontAwesome'; color:#3993dd;">
				<h3>Mes Points :  {{note}} </h3>
				<h3>Mon Rating :  {{ rate |rating(5, "fa-3x") }}</h3>
			</div>
            {% for exercice in exercices %}
			<div class="banner-bottom-grids">
				<div class="col-md-4 weekend-grids">
					<div class="weekend-grid">
						<a href="{{ path('exercicetake', {'idEx': exercice.idEx}) }}">
							<img src="{{ asset('' ~exercice.image) }}" height="300px" width="500" alt="">

							<div class="deals-info-grid">
								<div class="deals-grids">
									<div class="col-md-8 deals-rating">
										<h3>{{ exercice.Type }}</h3>
										 
									</div>
									<div class="col-md-4 deals-price">
										<p class="now"></p>
										<p> </p>
									</div>
									<div class="clearfix"> </div>
									
								</div>
							</div>
						</a>
					</div>
				</div>
				
	</div>
    
{% endfor %}
    <a href="{{ path('certif', {'idCrs': idCrs}) }}" class="btn btn-success" style="margin-bottom:10px;margin-left: 200px; "{% if note < 30  %}disabled="disabled" {% endif %}>Obtenir mon Certif</a>
{% endblock %}