{% extends 'base.html.twig' %}

{% block title %}Voyageorganise {% endblock %}

{% block body %}
   
<div class="body">  
<div class="tab">
<div class="tab-header" > <h1> Liste des Voyages  organisés </h1>    <p class="create">   <a href="{{ path('app_voyageorganise_new') }}"><button type="button" class="btn btn-primary">Create new</button></a></p>  </div>
 
<table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>NbrePlaces</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyageorganise in voyageorganises %}
            <tr>
                
                <td>{{ voyageorganise.description }}</td>
                <td><img src ="{{ asset('uploads/' ~ voyageorganise.image) }}"
   alt =""  width="80" height="80"></td>
               
                <td>{{ voyageorganise.prix }}</td>
                <td>{{ voyageorganise.nbrePlaces }}</td>
                <td>
                    <a href="{{ path('app_voyageorganise_show', {'voyageId': voyageorganise.voyageId}) }}"><button type="button" class="btn btn-primary">show</button></a>
                    <a href="{{ path('app_voyageorganise_edit', {'voyageId': voyageorganise.voyageId}) }}"><button type="button" class="btn btn-primary">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
</div>

    
{% endblock %}
