{% extends 'base.html.twig' %}

{% block title %}Voyageorganise index{% endblock %}

{% block body %}
   
<div class="body">  
<div class="tab">
<div class="tab-header" > <h1> Liste des Voyages  organisés </h1>    <p class="create">   <a href="{{ path('app_voyageorganise_new') }}">Create new</a></p>  </div>
 
<table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>NbrePlaces</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyageorganise in voyageorganises %}
            <tr>
                
                <td>{{ voyageorganise.description }}</td>
                <td>{{ voyageorganise.image }}</td>
                <td>{{ voyageorganise.prix }}</td>
                <td>{{ voyageorganise.nbrePlaces }}</td>
                <td>
                    <a href="{{ path('app_voyageorganise_show', {'voyageId': voyageorganise.voyageId}) }}">show</a>
                    <a href="{{ path('app_voyageorganise_edit', {'voyageId': voyageorganise.voyageId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
</div>

    
{% endblock %}
