{% extends 'base.html.twig' %}

{% block title %}Transport index{% endblock %}

{% block body %}
<div class="body">  
<div class="tab">
<div class="tab-header" > <h1> Transport index </h1>    <p class="create"> <a href="{{ path('app_transport_new') }}">Create new</a> </p>  </div>


    

    <table class="table">
        <thead>
            <tr>
               
                <th>Type</th>
                <th>Description</th>
                <th>Disponibilite</th>
                <th>Prix</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transport in transports %}
            
           
            <tr>
                
                <td>{{ transport.type }}</td>
                <td>{{ transport.description }}</td>
                <td>{{ transport.Disponibilite }}</td>
                <td>{{ transport.prix }}</td>
                <td> <img src="{{ asset('assets/img/' ~  transport.image) }}" height="100px" width="150" ></td>
                <td>
                    <a href="{{ path('app_transport_show', {'transportId': transport.transportId}) }}">show</a>
                    <a href="{{ path('app_transport_edit', {'transportId': transport.transportId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>    
{% endblock %}
