{% extends 'base.html.twig' %}

{% block body %}
    <div class="body">  
<div class="tab">
<div class="tab-header" > <h1> reponses index </h1>    <p class="create"> <a href="{{ path('app_reponses_new') }}">Create new</a> </p>  </div>

    <table class="table">
        <thead>
            <tr>
                <th>ReponsesId</th>
                <th>Reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.reponsesId }}</td>
                <td>{{ reponse.reponse }}</td>
                <td>
                    <a href="{{ path('app_reponses_show', {'reponsesId': reponse.reponsesId}) }}">show</a>
                    <a href="{{ path('app_reponses_edit', {'reponsesId': reponse.reponsesId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>    
    
   <div class="create"> <a href="{{ path('app_reponses_new') }}">Create new</a> </div>
</div> 

    
{% endblock %}
