{% extends 'base.html.twig' %}
{% block f2 %} class="active" {% endblock %}
{% block body %}
<div class="body">  
<div class="tab">
<div class="container">

  <h2>Liste des Users</h2>

  <br> </br>  
  <th>Trier : </th>
  <a href="{{path('TrierParDate2') }}"> ASC</a>   
  <a href="{{path('TrierParDate') }}">  DESC</a>
  
  <a class="btn btn-success" href="{{path('PDFuser') }}">  PDF </a>
<br> </br>    
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Tel number</th>
        <th>Email</th>
        <th>Password</th>
        <th>Photo</th>
        <th>Editer</th>
      </tr>
    </thead>
    <tbody>
    {% for User in Users %}
      <tr><td>
       {{ User.name }}
      </td>   <td>
        {{ User.fname}}
       </td> <td>
     {{ User.birthday|date("m/d/y")}}
       </td> <td>
     {{ User.gender }}
      </td>   <td>
        {{ User.num}}
       </td> <td>

     {{ User.email}}
       </td> <td>
     {{ User.password}}
       </td> <td>
<a href="{{ path('listUser', {'id': User.id}) }}"><img src="{{ asset ('uploads/' ~ User.image) }}" alt=""height="80px" width="80px"></a>
 
     <a href="{{path('showUser', {'id': User.id}) }}"> Consulter</a>
        &nbsp;&nbsp;
     <a href="{{path('deleteUser', {'id': User.id}) }}"style="color: #930020"> Supprimer</a>

     </tr> 
    </tbody>
    {% endfor %}
  </table>   
{{ knp_pagination_render(Users) }}

</div>
</div>
</div>

</section>



       
{% endblock %}

